.login {
  background-color: #191414;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-top: 7rem;
}

.loginBtn {
  background-color: #1db954;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 15%;
  padding: 1rem;
  font-size: large;
}
